---
const github = "github";
const twitch = "twitch"
const username = "ulu969";
---
<footer>
  <p>Learn more about my projects on <a href={`https://www.${github}.com/${username}`}>{github} </a> or <a href={`https://www.${twitch}.com/${username}`}>{twitch} </a>  </p>
</footer>